@require '../colours'

div.accordion
    border-radius: .5rem;
    overflow: hidden;
    border: .2rem solid blue

    h2
        margin: 0;
        padding: 0 .5rem;
        font-weight: 400;
        border-bottom: .1rem solid blue;
        background-color: blue-tint
        cursor: pointer
        &:last-child
            border: none;
        &::before
            content: "\25b8"
            margin-right: 0.25em
        &[aria-expanded=true]::before
            content: "\25be"
        &:active
        &:focus
            background-color: grey-tint

        div.links
            float:right
            margin-top: -.18em
        a
          box-sizing: border-box
          width: auto
          height: 2em
          background: blue
          border: .2em solid blue
          color: white
          border-radius: 1em
          padding-left: 1em
          padding-right: 1em
          font-size: .6em
          text-decoration: none
          margin: 0 .25em;
          

          &:hover
          &:focus
            background: light-blue
            border-color: light-blue
            box-shadow: 0 0 .3em dark-blue
          &:active
            background: dark-blue
            border-color: dark-blue
    div.fold
        padding: 0 .5rem
        border-bottom: .2rem solid blue;
        &:last-child
            border: none;
