div.accordion {
  border-radius: 0.5rem;
  overflow: hidden;
  border: 0.2rem solid #004481;
}
div.accordion h2 {
  margin: 0;
  padding: 0 0.5rem;
  font-weight: 400;
  border-bottom: 0.1rem solid #004481;
  background-color: #bce9ff;
  cursor: pointer;
}
div.accordion h2:last-child {
  border: none;
}
div.accordion h2::before {
  content: "\25b8";
  margin-right: 0.25em;
}
div.accordion h2[aria-expanded=true]::before {
  content: "\25be";
}
div.accordion h2:active,
div.accordion h2:focus {
  background-color: #ececec;
}
div.accordion h2 div.links {
  float: right;
  margin-top: -0.18em;
}
div.accordion h2 a {
  box-sizing: border-box;
  width: auto;
  height: 2em;
  background: #004481;
  border: 0.2em solid #004481;
  color: #fff;
  border-radius: 1em;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 0.6em;
  text-decoration: none;
  margin: 0 0.25em;
}
div.accordion h2 a:hover,
div.accordion h2 a:focus {
  background: #0058a1;
  border-color: #0058a1;
  box-shadow: 0 0 0.3em #002f63;
}
div.accordion h2 a:active {
  background: #002f63;
  border-color: #002f63;
}
div.accordion div.fold {
  padding: 0 0.5rem;
  border-bottom: 0.2rem solid #004481;
}
div.accordion div.fold:last-child {
  border: none;
}
