/* Styles for the unit selector */
@require '../colours'
@require '../flex'


.course-selector
  display-flex()
  flex-flow(column)
  justify-content(start)

  a.course
    box-sizing: content-box
    display:block
    text-decoration: none
    color: inherit
    position: relative
    flex(none)
    margin: .25rem
    padding: 0
    border: 0.2rem solid blue
    border-radius: 1em
    overflow: hidden

    &:hover
    &:focus
      box-shadow: 0 0 .3em dark-grey
    &:active
      box-shadow: 0 0 .3em light-grey

    .logo
        background-color: blue
        margin: .75rem 1rem 0.5rem
        float: left;
        height: 2.8rem;
        border: .2rem solid blue
        border-radius: 100%

        img
            height: 100%

    .title
      margin: .5rem
      h2
          margin: 0 0 .5rem;
      p
          margin: .5em

