/* Styles for the unit selector */
.course-selector {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-flow: column;
  -webkit-flex-flow: column;
  flex-flow: column;
  -ms-flex-pack: start;
  -webkit-justify-content: start;
  justify-content: start;
}
.course-selector a.course {
  box-sizing: content-box;
  display: block;
  text-decoration: none;
  color: inherit;
  position: relative;
  -ms-flex: none;
  -webkit-flex: none;
  flex: none;
  margin: 0.25rem;
  padding: 0;
  border: 0.2rem solid #004481;
  border-radius: 1em;
  overflow: hidden;
}
.course-selector a.course:hover,
.course-selector a.course:focus {
  box-shadow: 0 0 0.3em #919396;
}
.course-selector a.course:active {
  box-shadow: 0 0 0.3em #ccc;
}
.course-selector a.course .logo {
  background-color: #004481;
  margin: 0.75rem 1rem 0.5rem;
  float: left;
  height: 2.8rem;
  border: 0.2rem solid #004481;
  border-radius: 100%;
}
.course-selector a.course .logo img {
  height: 100%;
}
.course-selector a.course .title {
  margin: 0.5rem;
}
.course-selector a.course .title h2 {
  margin: 0 0 0.5rem;
}
.course-selector a.course .title p {
  margin: 0.5em;
}
