span[glossary] {
  position: relative;
  border-bottom: 2px dotted #0058a1;
  cursor: pointer;
}
span[glossary] .popup {
  display: none;
  z-index: 100;
  position: absolute;
  bottom: 2rem;
  left: -1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 1rem rgba(0,68,129,0.4);
  min-width: 10rem;
}
span[glossary] .popup .inner {
  display: block;
  background-color: #fff;
  position: relative;
  border-radius: 0.5rem;
  padding: 0.5rem;
  z-index: 100;
  color: #000;
}
span[glossary] .popup::before {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  z-index: 99;
  bottom: -0.5rem;
  left: 1.5rem;
  background-color: #fff;
  box-shadow: 0px 0px 1rem rgba(0,68,129,0.4);
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  content: ' ';
}
span[glossary]:hover .popup {
  display: block;
  animation: fade-in 0.3s ease;
  -webkit-animation: fade-in 0.3s ease;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fade-in {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
