/* This would be where any transcript-related css goes */

main > article {
    -webkit-flex: none !important;
    flex: none !important;
}

button.next-step {float:right}
button.prev-step {float:left}

/********************************
*
* opencs_custom_style.css
*
*********************************/

#accessible code, span.code{
    color:#006eb8;
    font-weight:normal;
    padding-left:0.5rem;
    padding-right:0.5rem;
    white-space: pre;
    font-family: monospace;
}

code.mycode {
    display: block;
    font-family: monospace;
    white-space: pre;
} 

#accessible code.para {
    display: inline-block;
    font-family: monospace;
    white-space: pre;
    color:#000000;
    background-color: #F5F5F5;
    padding-left:1rem;
    padding-right:1rem;
}

code.mynumbering {
    display: inline-block;
    font-family: monospace;
    white-space: pre;
    color:#000000;
    background-color: #fffff0;
} 

code.in-text {
    font-family: monospace;
    white-space: pre;
}

samp {
    font-family: monospace;
    background-color: #F0F8FF;
}

samp.myerror {
    display: block;
    padding:2px;
} 


div.myempty {
    float:left;
    width:30px;
    font-family:monospace;
    white-space:pre;
    display:block;
} 

div.rowwidth {
    width:500px;
}

div.mynumbering {
    float:left;
    width:30px;
}

div.mycode {
    float:left;
    width:400px;
}

span.technical{
    	background-color: #F5F5F5;
    	padding-left:0.5rem;
    	padding-right:0.5rem;
}


span.equation{
    	background-color: #F6F5F5;
}

span.copyright{
	color: #919396;
	font-size: 0.7rem;
}

figcaption{
	font-style:italic;
	text-align:left;
	padding-left:5px;
}

hr {
  clear: both;
  visibility: hidden;
  margin: 0;
}

hr + p {
  margin: 0;
}

figure{
	padding:1rem;
}

figure.float-right {
	float:right;
}

figure.float-left{
	float:left;
}

figure.float-center{
	margin: auto;
	display:table;
}

span.first-use {
  font-weight: 600;
  color: #7a1229;
}

span.emphasise {
  font-weight: 600;
  color: #b63216;
}

ul {
  list-style-type: none;
  padding-left: 2em;
}
ul> li::before {
  display: inline-block;
  content: "\25BA";
  font-size: 0.7em;
  width: 1.4em;
  margin-left: -1.5em;
}
ul> li > p {
  margin: 0.5em 0;
}
ul> li > p:first-child {
  display: inline;
}
div.bluebox,
div.greybox,
div.redbox {
  margin: 1rem;
  border-radius: 1rem;
  padding-bottom: 0.5rem;
  box-shadow: 0.5rem 0.5rem 0.5rem #808080;
  position: relative;
}
div.bluebox h2,
div.greybox h2,
div.redbox h2,
div.bluebox h3,
div.greybox h3,
div.redbox h3,
div.bluebox p.admonition-title,
div.greybox p.admonition-title,
div.redbox p.admonition-title {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  position: relative;
  box-shadow: 0 0 1rem #004481;
  z-index: 100;
  color: #fff;
  padding-left: 0.75rem;
  margin: 0rem;
  font-weight: 400;
}
div.bluebox p.admonition-title,
div.greybox p.admonition-title,
div.redbox p.admonition-title {
  font-size: 1.2rem;
}
div.bluebox p,
div.greybox p,
div.redbox p {
  margin: 1rem;
}

#accessible > div.bluebox > p.admonition-title,
#accessible > div.redbox > p.admonition-title,
#accessible > div.greybox > p.admonition-title{
	margin: 0rem;
}

#accessible > div.bluebox > p ,
#accessible > div.redbox > p ,
#accessible > div.greybox > p {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

#accessible > div.bluebox > ul ,
#accessible > div.redbox > ul ,
#accessible > div.greybox > ul , 
#accessible > div.bluebox > ol ,
#accessible > div.redbox > ol ,
#accessible > div.greybox > ol {
	padding-top: 0.2rem;
	padding-bottom: 0rem;
}

div.bluebox {
  border-color: #004481;
  background-color: #e8ecf7;
}
div.bluebox h2,
div.bluebox h3,
div.bluebox p.admonition-title {
  background-color: #004481;
  box-shadow: 0 0 1rem #004481;
}
div.bluebox ul > li::before {
  color: #004481;
}
div.redbox {
  border-color: #9c213b;
  background-color: #f6e6ea;
}
div.redbox h2,
div.redbox h3,
div.redbox p.admonition-title {
  background-color: #9c213b;
  box-shadow: 0 0 1rem #9c213b;
}
div.redbox ul > li::before {
  color: #9c213b;
}
div.greybox {
  border-color: #919396;
  background-color: #ececec;
}
div.greybox h2,
div.greybox h3,
div.greybox p.admonition-title {
  background-color: #919396;
  box-shadow: 0 0 1rem #919396;
}
div.greybox ul > li::before {
  color: #919396;
}
.codeerror {
  font-family: Courier, monospace;
  color: #b32945;
}
span.warning {
  font-weight: 600;
  color: #9c213b;
}

#accessible > div.split{
	width:50%;
	float:left;
}

#accessible > div.split  p{
	margin-top:0rem;
	margin-bottom:0rem;
}

#accessible > div.split > div{
	width:100%;
}



/********************************
*
* style-accessible.css
*
*********************************/
#accessible{	
	margin:25px;
	padding-left:25px;
}

#accessible, #accessible ol li, #accessible ul li, #accessible td, #accessible th {
	font-size:1.3em;
	line-height:1.95em;
}

#accessible .small {
	font-size:0.875em;
}


#accessible p{
	margin-top:1.4625em;
	margin-bottom:1.4625em;
	font-size:1.3em;
	line-height:1.95em;
}

#accessible ul {
	padding: 10px 20px;
}

#accessible ol li, #accessible ul li {
	margin-left:25px;
}

#accessible img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#accessible .centre{
	text-align:center;

}

#accessible {
	background:white;
}

#accessible .panel-body ol {
	list-style-type:lower-latin;
}

#accessible h1{
	font-size:165%;
}

#accessible h2 {
	font-size:155%;
}

#accessible h3 {
	font-size:145%;
	font-weight:bold;
}

#accessible h4 {
	font-size:135%;

}
#accessible {
	width:793px;
}

#accessible .panel-heading {
	cursor:pointer;
}

#accessible .panel-title a {
	display:block;
	padding:10px 15px;
	margin: -10px -15px;
}
.review {
	color:#b6321c;
}
.consult {
	color: #a93c93;
}

@media print{
	.collapse {
    display: block !important;
    height: auto !important;
    page-break-inside:avoid;
	}
	
	h1, h2 {
    page-break-after: avoid;
    page-break-before: auto;
	}
}
#accessible .definition {
	background:#ffffff;
	border:none;
	padding: 0px;
	width:100%;
}

#accessible .theoremTitle {
	background:#ffffff;
	padding:0px;
	border:none;
	width:100%;
	font-weight: normal;
}
#accessible .theorem {
	background:#ffffff;
	padding:0px;
	border:none;
	width:100%;
}

#accessible .row {
	padding: 2.75em 0px;
}