/* styles for the videolesson page */

@require '../colours'
@require '../flex'

div.video-wrapper
    display-flex()
    flex-direction(row)
    justify-content(center)

// Styles specifically for the lesson lesson page (as its own element)
.vjs-panel-skin
    // XXX Position is set to relative for the 'back' button
    position: relative
    // round corners and box-shadow
    border-radius: 1rem
    box-shadow: 0.2rem 0.2rem 0.5rem #555
    overflow: hidden
    display-flex()

    .vjs-control-bar
        border-radius: 0 0 1rem 1rem;

    // Fullscreen shouldn't have rounded corners
    &.vjs-fullscreen
        border-radius: 0
        .vjs-control-bar
            border-radius: 0

    // This handles the extra padding around the video
    video
        box-sizing: border-box
        padding: 2.5rem

    // For the "back" button
    button.video
        position: absolute
        top: 0.5rem
        font-size: 1rem
        &.previous
            left: 0.5rem
        &.next
            right: 0.5rem


.vjs-uw-skin
    background-color: #fff
    margin: 0 auto
    max-width: 100%

    // For the controls not to overlap the video
    video
        box-sizing: border-box
        padding-bottom: 30px
    // Show big play button on pause
    &.vjs-uw-skin.vjs-has-started.vjs-paused .vjs-big-play-button
        display: block

    // Don't hide the controls
    &.video-js.vjs-has-started.vjs-user-inactive.vjs-playing .vjs-control-bar
        visibility: visible
        opacity: 1
    .vjs-control-bar
        display: block

    // Font-size for time controls is too small in default vjs
    .vjs-time-controls
        font-size: 1rem
        line-height: 2
        width: 3em

    ::cue
        background: rgba(0,64,192,0.5);
        text-shadow: 1px 1px 1px black, -1px -1px 1px black, 1px 0 1px black, 0 1px 1px black, -1px 0 1px black, 0px -1px 1px black; 
