/* styles for the videolesson page */
div.video-wrapper {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.vjs-panel-skin {
  position: relative;
  border-radius: 1rem;
  box-shadow: 0.2rem 0.2rem 0.5rem #555;
  overflow: hidden;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.vjs-panel-skin .vjs-control-bar {
  border-radius: 0 0 1rem 1rem;
}
.vjs-panel-skin.vjs-fullscreen {
  border-radius: 0;
}
.vjs-panel-skin.vjs-fullscreen .vjs-control-bar {
  border-radius: 0;
}
.vjs-panel-skin video {
  box-sizing: border-box;
  padding: 2.5rem;
}
.vjs-panel-skin button.video {
  position: absolute;
  top: 0.5rem;
  font-size: 1rem;
}
.vjs-panel-skin button.video.previous {
  left: 0.5rem;
}
.vjs-panel-skin button.video.next {
  right: 0.5rem;
}
.vjs-uw-skin {
  background-color: #fff;
  margin: 0 auto;
  max-width: 100%;
}
.vjs-uw-skin video {
  box-sizing: border-box;
  padding-bottom: 30px;
}
.vjs-uw-skin.vjs-uw-skin.vjs-has-started.vjs-paused .vjs-big-play-button {
  display: block;
}
.vjs-uw-skin.video-js.vjs-has-started.vjs-user-inactive.vjs-playing .vjs-control-bar {
  visibility: visible;
  opacity: 1;
}
.vjs-uw-skin .vjs-control-bar {
  display: block;
}
.vjs-uw-skin .vjs-time-controls {
  font-size: 1rem;
  line-height: 2;
  width: 3em;
}
.vjs-uw-skin ::cue {
  background: rgba(0,64,192,0.5);
  text-shadow: 1px 1px 1px #000, -1px -1px 1px #000, 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0px -1px 1px #000;
}
