<!DOCTYPE html>
{% load staticfiles %}
<html  xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>{% block title %}University of Waterloo OpenCS{% endblock %}</title>
        {%block scripts%}{%endblock scripts%}
         <script src='//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
         <link href='//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
        <link href="{% static "style.css" %}" rel="stylesheet"/>
    </head>
    <body>
    <header role="banner" {%if course%}class="course-header"{%endif%}>
        <div id="skiptocontent"><a href="#maincontent" tabindex="1">skip to main content</a></div>
        <a class="logo-link" href="/{{ course.slug }}">{% if course.logo %}
        <img src="{{course.logo.url}}" alt="{{ course.title|default:"Open CS Courseware" }}"/>
        {% else %}
        <img src="{% static "images/course-opencs.png" %}" alt="{{ course.title|default:"Open CS Courseware"}}"/>
        {% endif %}</a>
        <a href="/{{ course.slug }}">{% block course_title %}{% if course.title %}{{course.title}}{% else %}Open Computer Science{% endif %}</a>{%endblock course_title %}
        <nav role="navigation" class="to-right">
            {% block nav %}
                {# <li><a href="/summary/">Summary</a></li> #}
                {% if "python" in course.slug %}
                <a href="{% url 'OpenCS.views.pypanel' %}" aria-describedby="panel-desc" >Python&nbsp;panel</a>
                <div id="panel-desc" class="description">Opens a Python environment.</div>
                {%endif%}
                {% if course %}
                <a href="/{{course.slug}}/help/" aria-describedby="help-desc" >Help</a>
                <div id="help-desc" class="description">Opens help pages.</div>
                {% else %}
                <a href="/about/">About</a>
                {% endif %}
            <!-- <img src="{% static "images/uw-logo.png" %}" /> -->
            {% endblock nav %}
        </nav>
    </header>
    <nav class="breadcrumb{% if course %} course-header{%endif%}" role="navigation">
        <a href="http://courseware.cemc.uwaterloo.ca">CEMC Courseware</a>
        >
        {% block breadcrumb %}
        <a href="/">Home</a>
        {% endblock breadcrumb %}
    </nav>

    <main role="main" id="maincontent">
{% block content%}{% endblock %}
    </main>
{% block postscripts %}{% endblock postscripts %}

    </body>

<!-- 
    <footer style="background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(0, 0, 0); border-top-left-radius: 1rem; border-top-right-radius: 1rem; padding: 1rem 2rem; ">
        <img height="42" alt="MasterCard YES - Youth Entrepreneurial Success" src="/static/images/YES_logo_RGB_pos.png">   
        <img height="42" alt="University Of Waterloo" src="http://cemc.uwaterloo.ca/!images/donors/UniversityOfWaterloo_logo_horiz_rgb.png">
        <img height="42" alt="CEMC - ???" src="http://cemc.uwaterloo.ca/!images/cemc_logo.gif">
    </footer>
-->

{% if analytics %}
<script> {# Google Analytics tracking #}
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '{{ analytics }}', 'auto');
  ga('send', 'pageview');

</script>
{% endif %}
</html>
