{% extends "base.html" %}
{% block content %}
<section>
<ul>
    <h1>Welcome to testing</h1>
    <li><a href="/admin/">Admin</a></li>
    <li><a href="/quiz/">Quiz</a></li>
    <li><a href="/glossary/">Glossary</a></li>
</ul>
</section>
{% endblock content%}
