{% extends "base.html" %}

{% block scripts%}
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular-sanitize.js"></script>
<script src="/static/scripts/opencs-ace-build/src/ace.js"></script>
<script src="/static/scripts/ui-ace.js"></script>
<script src="/static/scripts/python-socket.js"></script>
<script> var ps = new PythonSocket("{{python_socket}}");</script>
<script src="/static/scripts/courseware/flex-divider.js"></script>
<script src="/static/scripts/snippet-module.js"></script>
<script src="/static/scripts/python-panel.js"></script>
{% endblock scripts%}

{% block breadcrumb %}
{{ block.super }}
    &gt;<a href="{% url "courseware:course" course.slug %}">{{ course.title }}</a>
    &gt;<a href="#">Python panel</a>
{% endblock breadcrumb %}


{% block content %}
<style>
.snipControl { margin-bottom: 1rem; }
span[snippet] { margin-left: 1rem; }
.code-wrapper .code-input {
    -ms-flex-positive: 2;
    -webkit-flex-grow: 2;
    -moz-flex-grow: 2;
    flex-grow: 2;
}
.code-wrapper .rounded-box {
    -ms-flex-positive: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 2;
    flex-grow: 1;
}
</style>
<section class="code-wrapper" ng-app="pythonPanelApp" ng-controller="pythonPanelCtrl">
    <div class="snipControl"><span snippet="snippet"></span> <button ng-click="loadSnippet()">Load</button></div>
    <div class="code-input" ui-ace="aceOptions" ng-model="codeInput"></div>
    <div flex-divider style="height:1rem;"></div>
    <div class="rounded-box"><pre class="code-output" code-output></pre></div>
    <div class="buttons">
    <button ng-click="runCode()">Run</button>
    <button ng-click="stopCode()">Stop</button>
    <div class="checkmark" ng-show="success()">&#10003;</div>
    </div>
</section>
{% endblock content %}
