{% if quiz_list %}
    <ul>
    {% for quiz in quiz_list %}
        <li><a href="{% url 'quiz/quiz' quiz.pk %}">{{ quiz.subject_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No quizes are available.</p>
{% endif %}