<h1>{{ quiz.subject_text }}</h1>
{% if question_list %}
    {% for q in question_list %}
    <p>{{ q.question_text }}</p>
    <ul>
        {% for c in q.get_choices %}
        <li>{{ c.choice_text }}</li>
        {% endfor %}
    </ul>
    {% endfor %}
{% else %}
    <p>No questions are available.</p>
{% endif %}