{% extends "base.html" %}
{% block breadcrumb %}
{{ block.super }}
    &gt;<a href="">Glossary</a>
{% endblock breadcrumb %}
{% block content %}
<section id="main">
<h1>{{ glossary.title }}</h1>    

<ul>
{% for word in word_list %}
    <li><a href="{% url 'glossary:word_detail' word.id %}">{{ word.word }}</a> &ndash; {{ word.definition|safe }}</li>
{% endfor %}
</ul>
</section>
{% endblock content %}
