{% extends "base.html" %}

{% block breadcrumb %}
{{ block.super }}
<li>&gt;</li><li><a href="{% url "glossary:global" %}">Glossary</a></li>
    {% if unit %}
        <li>&gt;</li><li><a href="">{{ unit.title }}</a></li>
    {% endif %}
{% endblock breadcrumb %}

{% block content %}
<section id="main">
{% for glossary in glossary_list %}
<h1>{{ glossary.title }}</h1>    

<ul>
{% for word in glossary.word_set.all %}
    <li><a href="{% url 'glossary:word_detail' word.id %}">{{ word.word }}</a> &ndash; {{ word.definition }}</li>
{% endfor %}
</ul>
{% endfor %}
</section>
{% endblock content %}
