{% extends "base.html" %}
{% block content %}
<section id="main">
{% if glossary_list %}
    <ul>
    {% for gloss in glossary_list %}
        <li><a href="{% url 'glossary' gloss.id %}">{{ gloss.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No glossaries are available.</p>
{% endif %}
</section>
{% endblock content %}
