<div class="uw-slide" ng-show="selected" aria-live="polite">
    <div bind-html-compile="slide.text"></div>
    <div class="notes" bind-html-compile="'<h2>Note:</h2>'+slide.postText" ng-show="success() && slide.postText"></div>
    <button ng-click="toggleHint()" ng-show="!showHint && slide.hints.length">Show Hint</button>
    <div class="notes hint" hints="slide.hints" ng-show="showHint && slide.hints.length" aria-atomic="true"></div>
    <div class="notes feedback" feedback="feedback" ng-show="feedback.length" aria-atomic="true"></div>
</div>
