<div class="uw-question" ng-show="selected">
<div class="uw-slide" aria-live="polite" >
    <h1>Question</h1>
    <div bind-html-compile="question.text" aria-atomic="true"></div>
    <div class="notes" ng-show="hints.length" aria-atomic="true">
        <p ng-repeat="h in hints track by $index" bind-html-compile="h"></p>
    </div>
</div>
<div class="uw-slide">
    <form ng-submit="checkAnswer()">
        <ul combo-list="question.choices" 
             single-answer="question.singleAnswer" 
             value="answer">
        </ul>
        <div>
        <button type="submit" tabindex="150">Check Answer</button>
        <div class="checkmark" ng-show="success()"></div>
        </div>
    </form>
</div>
</div>
