<div class="progress-content" ng-transclude>
</div>
<nav class="progress-nav">
    <button ng-if-start="slides.length > 1" ng-click="prevSlide()" ng-disabled="firstLast == -1" class="prev-slide">&lt;</button>
    <button ng-click="nextSlide()" ng-disabled="firstLast == 1" class="next-slide">&gt;</button>
    <button ng-repeat="slide in slides" 
            ng-class="{fail:slide.fail(), success:slide.success(), active:slide.selected}" 
            ng-click="select(slide)"
            aria-labelledby="part-{{$index+1}}-button"
            class="dot"
            ng-if-end 
            >
            <div id="part-{{$index+1}}-button" class="ng-hide">part {{$index+1}}</div>
    </button>
    <button ng-click="prevStep()" class="prev-step">{{ prevText }}</button>
    <button ng-click="nextStep()" class="next-step">{{ nextText }}</button>
</nav>
