{% extends "base.html" %}
{% block title %}University of Waterloo OpenCS - {% block subtitle %}{% endblock subtitle%}{% endblock %}
{% block breadcrumb %}
{{ block.super }}
{% if course %}
    &gt;<a href="{% url "courseware:course" course.slug %}">{{ course.title }}</a>
    {% if unit %}
    &gt;<a href="{% url "courseware:unit" course.slug unit.position %}">{{ unit.position }}. {{ unit.title}}</a>
        {% if module %}
        &gt;<a href="">Step {{ module.position }}</a>
        {% endif %}
    {% endif %}
{% endif %}
{% endblock breadcrumb %}



