{% extends "courseware/base.html" %}

{% block breadcrumb %}
{{ block.super }}
&gt;<a href="{% url "courseware:builtins" course.slug %}">Built-ins</a>
{% endblock breadcrumb %}

{% block scripts %}
{{ block.super }}
<script src="/static/scripts/sorttable.js"></script>
{% endblock scripts %}


{% block content %}
<section id="main">
<h1>{{ collection.title }}</h1>    
<table class="sortable">
    <thead>
        <tr><th>ID</th><th>Name</th><th>Description</th>{% if "python" not in course.slug %}<th>Type</th>{% endif %}<th>Module</th><th>Step</th><th>Explanation</th><th>Example</th></tr>
    </thead>
    <tbody>{% for builtin in collection.builtins %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td><code class="lang-{{ builtin.language }}">{{ builtin.name }}</code></td>
        <td>{{ builtin.description|safe }}</td>
        {% if "python" not in course.slug %}
        <td>{{ builtin.language }} {{ builtin.b_type }}</td>
        {% endif %}
        <td>{% if builtin.unit_number %}<a href="{% url 'courseware:unit' builtin.course.slug builtin.unit_number %}">{{ builtin.unit_number }}</a>{% endif %}</td>
        <td>{% if builtin.module_number %}<a href="{% url 'courseware:module' builtin.course.slug builtin.unit_number builtin.module_number %}">{{ builtin.module_number }}</a>{% endif %}</td>
        <td>{{ builtin.explanation|safe }}</td>
        <td>{{ builtin.example|safe }}</td>
    </tr>
    {% endfor %}</tbody>
</ul>
</section>
{% endblock content %}
