{% extends "courseware/base.html" %}

{% block subtitle %}{{ course.title }}{% endblock subtitle %}
{% block content %}
<section id="main">
    {% if unit_list %}
    <h1>Modules</h1>
    <div class="unit-selector">
        {% for unit in unit_list %}
        <a class="unit" href="{% url "courseware:unit" course.slug unit.position %}">
            <div class="unit-icon"><img src="{{ unit.image.url }}" /></div>
            <div class="unit-title">
                <h2>{{ unit.position }}. {{ unit.title }}</h2>
            </div>
            <div class="checkmark top-right"></div>
        </a>
        {% endfor %}
    </div>
    {% else %}
       <p>This course is coming soon.</p>
    {% endif %}
</section>
{% endblock content %}

{% block postscripts %}
<script src="/static/scripts/courseware/storage.js"></script>
<script>
var ids = [{%for unit in unit_list%}{{unit.id}},{% endfor %}];
var us = document.getElementsByClassName('unit')
var i;
for (i in ids) {
    storage.getUnitCompleted(ids[i], (function (complete) {
        console.log(this);
        console.log('setting completion status', complete);
        if (complete) {
            this.className += " completed";
        }
    }).bind(us[i]));
}
</script>
{% endblock postscripts %}
