{% extends "courseware/module_base.html" %}

{% block scripts%}
{{ block.super }}
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular-sanitize.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular-resource.js"></script>
<script src="/static/scripts/opencs-ace-build/src/ace.js"></script>
<script src="/static/scripts/ui-ace.js"></script>
<script src="/static/scripts/courseware/uw-slide-show.js"></script>
<script src="/static/scripts/python-socket.js"></script>
<script> var ps = new PythonSocket("{{python_socket}}");</script>
<script src="/static/scripts/courseware/panel-layout.js"></script>
<script src="/static/scripts/glossary/glossary-module.js"></script>
<script src="/static/scripts/courseware/exploration.js"></script>
<link rel="stylesheet" href="/static/css/glossary-module.css">
{% endblock scripts %}

{% block postscripts %}
{% endblock postscripts %}

{% block content %}
<div ng-app="explorationApp" ng-controller="exploreCtrl" ng-init="exploration={{serialized|escape }}; ">

{% if exploration.slide_set %}
<div uw-slide-show previous="{{ prev_module.position|default:"false" }}" next="{{ next_module.position|default:"false" }}">
<div class="slide-wrapper">
    <h1 style="margin:0">Instructions</h1>
    <div uw-exp-slide ng-repeat="s in exploration.slides" slide="s" check-last-slide>
    </div>
</div>
<div class="slide-wrapper">
    <div layout controls="false">
        {# for some reason, this new layout requires going back 4 ancestors#}
        <div pane class="code-input" ui-ace="aceOptions" ng-model="codeInput['py']"></div>
        <div pane class="rounded-box"><pre class="code-output" code-output aria-live="polite" aria-atomic="true"></pre></div>

    </div>
    <div class="buttons">
        <button ng-click="runCode()">Run</button>
        <button ng-click="stopCode()">Stop</button>
        <span class="checkmark" ng-show="success()"></span>
        <button style="position:absolute;right:2rem;" ng-click="restoreCode()">Restore</button>
    </div>
</div>
</div>
{% else %}
    <p>This exploration is mysteriously blank</p>
{% endif %}
</div>
{% endblock content %}
