{% extends "courseware/base.html" %}

{% block breadcrumb %}
{{ block.super }}
&gt;<a href="{% url "courseware:glossary" course.slug %}">Glossary</a>
{% endblock breadcrumb %}

{% block scripts %}
{{ block.super }}
<script src="/static/scripts/sorttable.js"></script>
{% endblock scripts %}


{% block content %}
<section id="main">
<h1>{{ glossary.title }}</h1>    
<table class="sortable">
    <thead>
        <tr><th>Term</th><th>Module</th><th>Step</th><th>Definition</th></tr>
    </thead>
    <tbody>{% for word in glossary.word_set.all %}
    <tr>
        <td><a href="{% url 'glossary:word_detail' word.id %}">{{ word.word }}</a></td>
        <td><a href="{% url 'courseware:unit' course.slug word.unit_number %}">{{ word.unit_number }}</a></td>
        <td><a href="{% url 'courseware:module' course.slug word.unit_number word.module_number %}">{{ word.module_number }}</a></td>
        <td>{{ word.definition }}</td>
    </tr>
    {% endfor %}</tbody>
</ul>
</section>
{% endblock content %}
