{% extends "courseware/base.html" %}

{% block subtitle %}Course Index{% endblock subtitle %}
{% block scripts %}
{{block.super}}
<link rel="stylesheet" href="/static/css/course.css">
{% endblock scripts %}

{% load staticfiles %}
{% block content %}
<section id="main">
    {% if course_list %}
    <h1>Courses</h1>
    <div class="course-selector">
        {% for course in course_list %}{% if not course.hidden %}
        <a class="course" href="{% url "courseware:course" course.slug %}">
            <div class="logo">{% if course.logo %}
            <img src="{{course.logo.url}}" alt="{{ course.title|default:"Open CS Courseware" }}"/>
            {% else %}
            <img src="{% static "images/course-opencs.png" %}" alt="{{ course.title|default:"Open CS Courseware"}}"/>
            {% endif %}</div>
            <div class="title">
                <h2>{{ course.title }}</h2>
                {{course.description|safe}}
            </div>
        </a>
        {% endif %}{% endfor %}
    </div>
    {% else %}
       <p>There are no courses available at the moment.</p>
    {% endif %}
</section>
{% endblock content %}
