{% extends "courseware/base.html" %}
{% block subtitle %}{{course.title}}{% endblock subtitle %}
{% block scripts %}
<script src="/static/scripts/courseware/storage.js"></script>
<script>
var courseSlug = '{{course.slug}}';
var unitId = {{unit.id}};
var unitPosition = {{unit.position}};
var modulePosition = {{module.position}};
var moduleId = {{module.id}};
</script>
{% endblock scripts %}

