{% extends "courseware/module_base.html" %}

{% block scripts%}
{{ block.super }}
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular-sanitize.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular-resource.js"></script>
<script src="/static/scripts/courseware/uw-slide-show.js"></script>
<script src="/static/scripts/glossary/glossary-module.js"></script>
<script src="/static/scripts/courseware/quiz.js"></script>
<link rel="stylesheet" href="/static/css/popups.css">
{% endblock scripts %}

{% block postscripts %}
{% endblock postscripts %}

{% block content %}
<div ng-app="quizApp" ng-init="quiz={{serialized|escape }}">

{% if quiz.question_set %}
<div uw-slide-show previous="{{ prev_module.position|default:"false" }}" next="{{ next_module.position|default:"false" }}">
<div uw-question ng-repeat="q in quiz.questions" question="q" check-last-slide>
</div>
</div>
{% else %}
    <p>This quiz is mysteriously blank</p>
{% endif %}
</div>
{% endblock content %}
