{% extends "courseware/module_base.html" %}

{% block scripts%}
{{ block.super }}
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular-resource.js"></script>
<script src="/static/scripts/glossary/glossary-module.js"></script>
<script src="/static/scripts/courseware/uw-slide-show.js"></script>
<link rel="stylesheet" href="/static/css/popups.css">
{% endblock scripts %}

{% block postscripts %}
{% endblock postscripts %}

{% block content %}
<div ng-app="uwSlideShow" ng-init="slideshow={{serialized|escape }}">

<div uw-slide-show previous="{{ prev_module.position|default:"false" }}" next="{{ next_module.position|default:"false" }}">
    <div class="slide-wrapper">
        <div uw-slide="s" ng-repeat="s in slideshow.slides" check-last-slide>
        </div>
    </div>
</div>

</div>
{% endblock content %}
