{% extends "courseware/base.html" %}

{% block subtitle %}{{ course.title }}{% endblock subtitle %}
{% block content %}
{% load static %}
<section id="main">
        <h1>{{ unit.title }}</h1>
        <div class="module-selector">
            {% for module in module_list %}
            <a class="module" href="{% url "courseware:module" course.slug unit.position module.position %}">
                <div class="checkmark top-right"></div>
                <h2>{{ module.title }}</h2>
                {% if module.icon %}<div class="module-icon"><img src="/static/images/{{ module.icon }}.png" /></div>
                {% else %}<div class="module-icon"><img src="/static/images/{{ module.content_type.model }}.png" /></div>
                {% endif %}
            </a>
            {% endfor %}
        </div>
</section>
{% endblock content %}
{% block postscripts %}
<script src="/static/scripts/courseware/storage.js"></script>
<script>
(function () {
var ids = [{%for module in module_list%}{{module.id}},{% endfor %}];
var ms = document.getElementsByClassName('module')
var i;
for (i in ms) {
    if (storage.getModuleCompleted(ids[i]))
        ms[i].className += " completed";
}

{% if next_unit.position %}
// Create a next unit button
nav = document.createElement('nav');
nav.setAttribute('class', 'top-right');
bn = document.createElement('button');
bn.innerHTML = 'Next module';
bn.setAttribute('class', 'unit next');
bn.onclick = function() {
    document.location.href = '../{{ next_unit.position }}';
}
nav.appendChild(bn);
window.addEventListener('load', function () { 
    m = document.getElementById('main')
    m.setAttribute('class', 'unit-index');
    m.appendChild(nav); 
});
{% endif %}
})();
</script>
{% endblock postscripts %}
