{% extends "courseware/base.html" %}
{% block title %}University of Waterloo Open CS - {{ videolesson.title }} transcript{% endblock title %}

{% block scripts %}
{% comment " uncomment if glossary popups needed" %}
<script>
var courseSlug = '{{course.slug}}';
</script>
{% endcomment %}

<script src="/static/scripts/courseware/storage.js"></script>
{{ block.super }}

{% comment "uncomment for additional features, like accordion, and glossary popups" %}
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular-resource.js"></script>
<script src="/static/scripts/accordion.js"></script>
<link rel="stylesheet" href="/static/css/accordion.css" />
<script src="/static/scripts/glossary/glossary-module.js"></script>
<link rel="stylesheet" href="/static/css/popups.css" />
<script src="/static/scripts/flatpage.js"></script>
{% endcomment %}
{% comment "uncomment for sortable tables" %}
<script src="/static/scripts/sorttable.js"></script>
{% endcomment %}
<link rel="stylesheet" href="/static/css/transcript.css" />
{% endblock scripts %}

{% block breadcrumb %}
{{ block.super }}
&gt;<a href="#">Transcript</a>
{% endblock breadcrumb %}

{% block content %}
<article ng-app="flatpage" class="resource-page">
{{ videolesson.transcript|safe }}

<nav>
    <button class='prev-step'>Previous Step</button>
    <button class='next-step'>Next Step</button>
</nav>
</article>
{% endblock content%}

{% block postscripts %}
<script>
(function () {

    // Add the buttons
    var next_module = function() { document.location.href = '../{{ next_module.position|default:"" }}'; };
    bn = document.getElementsByClassName('next-step');
    var i;
    for (i=0; i<bn.length; i++) {
        bn[i].innerHTML = {% if next_module.position %}'Next step'{% else %}'Back'{% endif %};
        bn[i].onclick = next_module;
    }

    // The "previous step" button
    var prev_module = function() { document.location.href = '../{{ prev_module.position|default:"" }}'; };
    bn = document.getElementsByClassName('prev-step');
    var i;
    for (i=0; i<bn.length; i++) {
        bn[i].innerHTML = {% if prev_module.position %}'Previous step'{% else %}'Back'{% endif %};
        bn[i].onclick = prev_module;
    }

    // Set the module as completed
    storage.setModuleCompleted({{module.id}});

})();
</script>
{% endblock postscripts %}
