{% extends "courseware/base.html" %}

{% block subtitle %}{{ course.title }} - Videos{% endblock subtitle %}

{% block breadcrumb %}
{{ block.super }}
&gt;<a href="{% url "courseware:videos" course.slug %}">Videos</a>
{% endblock breadcrumb %}

{% block content %}
{% load static %}
<section id="main">
    <h1>{{course.title}} videos</h1>
    {% for unit in units %}
    <h2>{{ unit.position }}. {{unit.title}}</h2>
        <div class="module-selector">
            {% for module in unit.videos %}
            <a class="module video" href="{% url "courseware:module" module.unit.course.slug module.unit.position module.position %}">
                <div class="module-title"><h2>Part {{ module.position }}</h2></div>
                {% if module.icon %}<div class="module-icon"><img src="/static/images/{{ module.icon }}.png" /></div>
                {% else %}<div class="module-icon"><img src="/static/images/{{ module.content_type.model }}.png" /></div>
                {% endif %}
            </a>
            {% endfor %}
        </div>
    {% endfor %}
</section>
{% endblock content %}
{% block postscripts %}
<script src="/static/scripts/courseware/storage.js"></script>
<script>
var ids = [{%for module in module_list%}{{module.id}},{% endfor %}];
var ms = document.getElementsByClassName('module')
var i;
for (i in ms) {
    if (storage.getModuleCompleted(ids[i]))
        ms[i].className += " completed";
}
</script>
{% endblock postscripts %}
