{% extends "courseware/module_base.html" %}

{% block scripts%}
{{ block.super }}
<link href="//vjs.zencdn.net/4.12/video-js.css" rel="stylesheet">
<script src="//vjs.zencdn.net/4.12/video.js"></script>
<link href="/static/css/video.css" rel="stylesheet">
{% endblock scripts %}

{% block content %}
    <div class="video-wrapper">
    <video id="video" class="video-js vjs-default-skin vjs-uw-skin vjs-panel-skin vjs-big-play-centered" 
        controls preload="auto"
        width="880" height="679"
        data-setup='{ "playbackRates": [1, 1.25, 1.5] }'
        >
        <source src="{{videolesson.src.url}}" type='video/mp4' />
        {% if videolesson.vtt %}
        <track src="{{ videolesson.vtt.url }}" kind="subtitle" srclang="en-US" label="English" />
        {% endif %}
        <p class="vjs-no-js">
            To view this video, please enable JavaScript, and
            consider upgrading to a web browswer that 
            <a href="http://videojs.com/html5-video-support/" target="_blank">supports
            HTML5 video</a>
        </p>
    </video>
    </div>
    <div class="video-wrapper">
        <p class="video-transcript" >
            Video <a href="transcript">transcript</a>
        </p>
    </div>
{% endblock content %}

{% block postscripts %}
<script>
(function () {
// Add the buttons
nav = document.createElement('nav');
bn = document.createElement('button');
bn.innerHTML = {% if next_module.position %}'Next step'{% else %}'Back'{% endif %};
bn.setAttribute('class', 'video next');
bn.onclick = function() {
    document.location.href = '../{{ next_module.position|default:"" }}';
};
// The "previous step" button
bp = document.createElement('button');
bp.innerHTML = {% if prev_module.position %}'Previous step'{% else %}'Back'{% endif %};
bp.setAttribute('class', 'video previous');
bp.onclick = function() {
    document.location.href = '../{{ prev_module.position|default:"" }}';
};
nav.appendChild(bn);
nav.appendChild(bp);

// What to do when everything is initialized
videojs("video").ready(function(){
    document.getElementById('video').appendChild(nav);
// disable text tracks by default
textTracks = this.textTracks()[0];
    if (textTracks) 
        textTracks.mode = 'hidden';
});

// Set the module as completed
storage.setModuleCompleted({{module.id}});

})();
</script>
{% endblock postscripts %}
