{% extends "courseware/module_base.html" %}

{% block scripts%}
{{ block.super }}
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular-resource.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular-sanitize.js"></script>
<script src="/static/scripts/opencs-ace-build/src/ace.js"></script>
<script src="/static/scripts/ui-ace.js"></script>
<script src="/static/scripts/courseware/uw-slide-show.js"></script>
<script src="/static/scripts/courseware/panel-layout.js"></script>
<script src="/static/scripts/glossary/glossary-module.js"></script>
<script src="/static/scripts/courseware/web-exploration.js"></script>
<link rel="stylesheet" href="/static/css/popups.css">
{% endblock scripts %}

{% block postscripts %}
{% endblock postscripts %}

{% block content %}
<div ng-app="explorationApp" ng-controller="exploreCtrl" ng-init="exploration={{serialized|escape }}; upLevel = '..'">

{% if exploration.slide_set %}
<div uw-slide-show previous="{{ prev_module.position|default:"false" }}" next="{{ next_module.position|default:"false" }}">
<div class="slide-wrapper">
    <div class="instructions">
        <div uw-exp-slide="s" ng-repeat="s in exploration.slides" check-last-slide></div>
    </div>
    <div layout controls="true">
        <div pane="'js'" class="code-input" ui-ace="aceOptions['js']" ng-model="$parent.$parent.codeInput['js']" size="inputSize['js']" hide="hide['js']" exclude="exclude['js']"></div>
        <div pane="'html'" class="code-input" ui-ace="aceOptions['html']" ng-model="codeInput['html']" size="inputSize['html']" hide="hide['html']" exclude="exclude['html']"></div>
        <div pane="'css'" class="code-input" ui-ace="aceOptions['css']" ng-model="$parent.$parent.codeInput['css']" size="inputSize['css']" hide="hide['css']" exclude="exclude['css']"></div>
    </div>
</div>
<div class="slide-wrapper">
    <div class="buttons" style="order:10;">
        <button ng-click="runCode()">{%templatetag openvariable%}runText{%templatetag closevariable%}</button>
        <div class="progress-bar" value="loading" max="100" min="0"></div>
        <button class="restore" ng-click="restoreCode()">Restore</button>
    </div>
    <div layout style="order:0;">
        <div pane class="preview" hide="hide['preview']" exclude="exclude['preview']">
        <button class="popout" ng-click="popout()" tab-index="0" aria-labelledby="popout-label">
            <div class="popout-square"></div>
            <div id="popout-label" class="ng-hide">popout the preview</div>
            </button>
        <iframe web-src="renderedSrc"></iframe></div>
        <div pane class="rounded-box" hide="hide['console']" exclude="exclude['console']"><pre class="web-console"></pre></div>
    </div>
</div>
</div>
{% else %}
    <p>This exploration is mysteriously blank</p>
{% endif %}
</div>
{% endblock content %}
