<!DOCTYPE html>

<html>
<head>
<title>Pybox basic view</title>
<style type="text/css" media="screen">
    #editor {
        width: 40rem;
        height: 20rem;
    }
    #python-output {
        width: 40rem;
        height 10rem;
        background: black;
        color: white;
    }
    .slide {
        display:none;
    }
    .active-slide {
        display:block;
    }
    .wrapper {
        height: 20rem;
    }
</style>
<script type="text/javascript">
    var slideDemos = []
</script>
</head>
<body>
<h1>{{ exploration.title }}</h1>
<div class="wrapper">
{% if slides %}
{% for s in slides %}
<div class="slide{%if forloop.first%} active-slide{%endif%}">
    <h2>Slide {{ forloop.counter }}</h2>
    <div>{{ s.text|safe }}</div>
    <div style="background-color: #eee">{{ s.post_text|safe }}</div>
    <pre>{{ s.code }}</pre>
</div>
{% endfor %}
{% else %}
    <p>No slides are in this exploration.</p>
{% endif %}
</div>
<button id="next-slide">Next Slide</button>

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script>
    var currentDemo = 0;
    var nextSlide = function() {
        var currentSlide = $(".active-slide");
        var nextSlide = currentSlide.next();
        currentDemo++;

        if (nextSlide.length === 0) {
            nextSlide = $(".slide").first();
            currentDemo = 0;
        }

        currentSlide.removeClass("active-slide");
        nextSlide.addClass("active-slide");

        editor.setValue(slideDemos[currentDemo]);
    };

    $("#next-slide").click(nextSlide);
</script>

</body>
