{% if exploration_list %}
    <ul>
    {% for exploration in exploration_list %}
        <li><a href="{% url 'exploration/exploration' exploration.pk %}">{{ exploration.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Python explorations are available.</p>
{% endif %}
