/* Slide show appearances
 */
.progress-nav {
    background: white;
    border-radius: 1rem;
    padding: 1rem;
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    margin: 0;
    box-shadow: .2rem .2rem .5rem #555;
}

.progress-nav > li {display: inline;}

.progress-nav a {text-decoration: none; color: inherit;}

.progress-content {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    margin-top: 1rem;
}

.uw-slide {
    padding:1rem;
    flex: 1;
    -webkit-flex: 1;
        overflow:hidden;
}


.progress-content .slide-wrapper:first-child {
    margin-left: 0;
    flex-grow: 2;
    -webkit-flex-grow: 2;
}

.progress-content .slide-wrapper {
    /* background/borders for slide should be here */
    display: flex;
    display: -webkit-flex;
    flex: 3 0 0;
    -webkit-flex: 3 0 0;
    margin-left: 1rem;
}

li.success {
    color: green;
}
li.fail {
    color: red;
}
li.active {
    color: orange;
}

div.success {
    background-color: green;
}
div.fail {
    background-color: red;
}
div.active {
    background-color: orange;
}

/* These next bits give the question + control look of questions
 */
.nopadding { padding:0; }
.nopadding>div {
    margin:0;
    padding:1rem;
}
.nopadding>div:first-child {
    position:relative;
    box-shadow: 0 0 .5rem .2rem rgba(0,0,0,.7);
}

/* The following section is for the code-box interface
 */
.code-wrapper {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  overflow: hidden;
}
.code-wrapper .buttons {
  flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  font-size: 1.2rem;
  align-self: left;
  -webkit-align-self: left;
  text-align: left;
  margin-top: 1rem;
}
.code-wrapper .code-input {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  border: 3px solid #004481;
  border-radius: 0.75rem;
  overflow: hidden;
  font-size: 1em;
  font-family: Courier, monospace;
  min-height: 1.2em;
}
.code-wrapper .code-output {
  overflow: auto;
  font-family: Courier, monospace;
  font-size: inherit;
  margin: .2rem;
  padding: .3rem;
  width: 100%;
}
.code-wrapper .rounded-box {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  display: flex;
  display: -webkit-flex;
  border: 3px solid #004481;
  border-radius: 0.75rem;
  min-height: 2em;
  overflow: hidden;
}
.code-wrapper .user-input {
    border: solid 2px red;
    border-radius: .75em;
}
.code-wrapper .user-input:disabled {
    border-color: gray;
}
