{% extends "base.html" %}
{% block title %}University of Waterloo Open CS - {{ flatpage.title }}{% endblock title %}

{% block scripts %}
<script>
var courseSlug = '{{course.slug}}';
</script>
{{ block.super }}
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular-resource.js"></script>
<script src="/static/scripts/accordion.js"></script>
<link rel="stylesheet" href="/static/css/accordion.css" />
<script src="/static/scripts/sorttable.js"></script>
<script src="/static/scripts/glossary/glossary-module.js"></script>
<link rel="stylesheet" href="/static/css/popups.css" />
<script src="/static/scripts/flatpage.js"></script>
<link href="//vjs.zencdn.net/4.12/video-js.css" rel="stylesheet">
<script src="//vjs.zencdn.net/4.12/video.js"></script>
<link href="/static/css/video.css" rel="stylesheet">
{% endblock scripts %}

{% block breadcrumb %}
{{ block.super }}
{% for crumb, link in crumbs %}
&gt;<a href="{{link}}">{{ crumb }}</a>
{% endfor %}
{% endblock breadcrumb %}

{% block content %}
<article ng-app="flatpage" class="resource-page">
{{ flatpage.content }}
</article>
{% endblock content%}

{% block postscripts %}
<script>
(function () {
var vids = document.getElementsByTagName('video');
for (var i = 0; i < vids.length; vids++) {
    videojs(vids[i].id).ready( function () {
          this.height(30 + this.height());
    });
}
})();
</script>
{% endblock postscripts %}
