span[glossary] {
    position: relative;
    border-bottom: 2px dotted #0058A1;
    cursor: pointer;
}
span[glossary] .popup {
    display: none;
    z-index: 100;
    position: absolute;
    bottom:2rem;
    left: -1rem;
    border-radius: .5rem;
    box-shadow: 0px 0px 1rem rgba(0,68,129,.4);
    min-width: 10rem;
}
span[glossary]:hover .popup {
    display: block;
    animation: fade-in .3s ease;
    -webkit-animation: fade-in .3s ease;
}

span[glossary] .popup .inner {
    display: block;
    background-color: white;
    position: relative;
    border-radius: 0.5rem;
    padding: 0.5rem;
    z-index: 100;
}
span[glossary] .popup::before {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    z-index: 99;
    bottom: -0.5rem;
    left: 1.5rem;
    background-color: white;
    box-shadow: 0px 0px 1rem rgba(0,68,129,.4);
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    content: ' ';
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
