// Mixins for vendor-specific flex styles

display-flex()
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

flex(args)
    -ms-flex: args
    -webkit-flex: args
    flex: args

flex-direction(args)
    -ms-flex-direction: args
    -webkit-flex-direction: args
    flex-direction: args

flex-grow(args)
  -ms-flex-positive: args
  -webkit-flex-grow: args
  flex-grow: args
  
align-items(args)
  pack = args
  if args is flex-start
    pack = start
  else if args is flex-end
    pack = end
  -ms-flex-align: pack
  -webkit-align-items: args
  align-items: args
  
align-self(args)
  pack = args
  if args is flex-start
    pack = start
  else if args is flex-end
    pack = end
  -ms-flex-item-align: pack
  -webkit-align-self: args
  align-self: args
  
flex-flow(args)
  -ms-flex-flow: args
  -webkit-flex-flow: args
  flex-flow: args

justify-content(args)
  // the old standard with -ms- has different arguments
  pack = args
  if args is flex-start
    pack = start
  else if args is flex-end
    pack = end
  else if args is space-between
    pack = justify
  else if args is space-around
    pack = distribute
    
  -ms-flex-pack: pack
  -webkit-justify-content: args
  justify-content: args

order(arg)
  -webkit-order: arg
  order: arg
