// Universal OpenCS styles
@require 'colours'
@require 'flex'

html
    height: 100%

body
  height: 100%
  background: dark-grey
  font-family: 'Open Sans', sans-serif
  margin: 0
  padding: 0
  color: black
  display-flex()
  flex-direction(column)

code
    font-family: Courier,  monospace
    background-color: grey-tint
    /* Code types */
    &.lang-html
        background-color: orange-tint
    &.lang-css
        background-color: blue-tint
    &.lang-js
        background-color: yellow-tint
    &.lang-HTML
        background-color: orange-tint
    &.lang-CSS
        background-color: blue-tint
    &.lang-JS
        background-color: yellow-tint

/* For elements referred to by aria-describedby */
.description
    display: none
    
/* This is for the div that wraps content and injects angular data */
main > div[ng-controller]
  display-flex()
  flex-grow(1)
  flex-direction(column)
  
/* Header styles */
h1
  font-size: 2em
  color: red
  font-weight: 400
  margin: 0
  margin-left: -.5em;

h2 
  margin-left: -.25em
 
h3 
  font-weight: 400
  margin-left: -.25em

/* Some browser versions may default to image borders */
img
    border: none
    max-width: 100%
 
main 
    padding: 1rem
    display-flex()
    flex-grow(1)
    flex-direction(column)

main > article,
main > section
  flex(1 0 auto)
  background: white
  color: black
  border-radius: 1rem
  padding: 1rem 2rem
  box-shadow: .2rem .2rem .5rem shadow

button
  box-sizing: border-box
  width: auto
  height: 2em
  background: blue
  border: thick solid blue
  color: white
  border-radius: 1em
  padding-left: 1em
  padding-right: 1em
  font-size: inherit
  line-height: 1.5
  overflow: hidden

  &:hover
  &:focus
    background: light-blue
    border-color: light-blue
    box-shadow: 0 0 .3em dark-blue
  &:active
    background: dark-blue
    border-color: dark-blue
  &:disabled
    background: dark-grey
    border-color: dark-grey
    box-shadow: none

button.toggle
    &.inactive
        border-color: blue
        background-color: white
        color: blue
        &:hover
        &:focus
            border-color: light-blue
        &:active
            border-color: dark-blue


.checkmark
  display: inline-block
  background-color: light-green
  color: white
  border-radius: 100%
  width: 1.33em
  height: 1.33em
  text-align: center
  line-height: 1.33em
  font-size: 1.5em
  position: absolute
  margin: 0 .2em;
  &:before 
    content: '\2713'

/* For the help pages */
main
    ul
      list-style-type: none
      padding-left: 2em

      &> li::before
        display: inline-block
        content: "\25BA"
        font-size: .7em
        width: 1.4em
        margin-left: -1.5em
      &> li > p
        margin: .5em 0
        &:first-child
            display: inline

    /* For the boxes in flat-pages */
    div.bluebox,
    div.greybox,
    div.redbox
      margin: 1rem
      border-radius: 1rem
      padding-bottom: 0.5rem
      box-shadow: 0.5rem .5rem .5rem grey
      position: relative

      h2
      h3
      p.admonition-title
        border-top-left-radius: 1rem
        border-top-right-radius: 1rem
        position: relative
        box-shadow: 0 0 1rem blue
        z-index: 100
        color: white
        padding-left:.75rem
        margin: 0
        font-weight: 400
      p.admonition-title
        font-size: 1.2rem
      p
        margin: 1rem

    div.bluebox 
        border-color: blue
        background-color: #e8ecf7
        h2
        h3
        p.admonition-title
            background-color:blue
            box-shadow: 0 0 1rem blue
        ul > li::before
            color: blue

    div.redbox 
        border-color: red
        background-color: #f6e6ea
        h2
        h3
        p.admonition-title
            background-color:red
            box-shadow: 0 0 1rem red
        ul > li::before
            color: red

    div.greybox 
        border-color: dark-grey
        background-color: grey-tint
        h2
        h3
        p.admonition-title
            background-color:dark-grey
            box-shadow: 0 0 1rem dark-grey
        ul > li::before
            color: dark-grey

    /* additional help page styling */
    .codeerror
      font-family: Courier, monospace
      color: light-red

    span.warning
        font-weight: 600
        color: red

/* Tables */
table
    border-collapse: collapse
    margin: 1rem auto;
    width: 85%

    td, th
        border: thin solid blue
        padding: .5em
        text-align: left

    td>p
        &:first-child
          margin-top: 0
        &:last-child
          margin-bottom: 0

    th
        background-color: blue-tint
        white-space: nowrap

    &.sortable
        th
            cursor: pointer;
            &:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after
                content: " \25bf"
        tbody tr:nth-child(even)
            background-color: grey-tint


/* These were popups, but with the popup functionality removed,
* it is better for them to be in 'general'
*/
span.first-use
    font-weight: 600
    color: dark-red

span.built-in
    font-weight: 600
    color: dark-blue

/* This is more custom formatting for incorporating figures. */

figure
    display: table
    /*max-width: 48% */
    max-width: 100%
    text-align: left
    margin: auto
    padding: .5rem

    img
        max-width: 100%

    figcaption p:last-child
        margin-bottom: 0

    &.float-left
        float: left
    &.float-right
        float: right

hr
    clear: both
    visibility: hidden
    margin: 0

hr + p
    margin: 0

span.copyright
    font-size: .7em;
    font-style: italic;
    color: dark-grey

