// Styles for the Header bar (breadcrumbs and nawhatnot)
@require 'flex'
@require 'colours'

header
  flex(none)
  background: blue
  &.course-header
      background: red
  display-flex()
  align-items(center)
  color: white
  
  position: relative
  z-index:100
  box-shadow: 0 0 .5rem .2rem rgba(0,0,0,0.5)

  font-size: 1.5rem
  height: 2em;

  img
    height: 2em

  .to-right
    margin-left: auto

  a
    color: inherit
    text-decoration: none
    padding: .1em .5em

    &.logo-link
        padding: 0
        height: 2em

#skiptocontent a
    padding:.5rem
    position: absolute
    top:-80px
    left:0px
    color:white
    border-right:1px solid white
    border-bottom:1px solid white
    border-bottom-right-radius:1rem
    background:transparent
    -webkit-transition: top 1s ease-out, background 1s linear
    transition: top 1s ease-out, background 1s linear
    z-index: 1000
    text-decoration: none;

    &:focus
        position:absolute
        left:0px
        top:0px
        background:blue
        outline:0  
        -webkit-transition: top .1s ease-in, background .5s linear
        transition: top .1s ease-in, background .5s linear

nav
  align-items(center)
  ul
    margin:0
  li
  a
    display: inline
    margin-left: .1em
    margin-right: .1em
  li a
  a
    color: inherit
    text-decoration: none
    border-radius: 1.5em
    padding: .1em .5em
    &:hover
      background: light-blue
    &:active
      background: blue
    .course-header &
        &:hover
            background: light-red
        &:active
            background: dark-red


  &.breadcrumb
    flex(none)
    box-shadow: 0 0 .5rem .2rem rgba(0,0,0,0.5)
    background: dark-blue
    color: dark-grey
    font-size: 1rem
    padding: .5rem
    z-index: 99

    & a
      color: white
      &:hover
        background: blue
      &:active
        background: dark-blue

    &.course-header
        background: dark-red
        a
          &:hover
            background: red
          &:active
            background: dark-red
