/* Styles for the module selector */
@require 'colours'
@require 'flex'


text-overflow(args)
    -ms-text-overflow: args
    -o-text-overflow: args
    text-overflow: args

.module-selector
  display-flex()
  flex-flow(row wrap)
  justify-content(flex-start)

  a.module
    display: block
    text-decoration: none
    color: inherit
    position: relative
    flex(none)
    width: 12rem
    margin: 1rem
    padding: .5em 1em 1em 1em
    border: thick solid dark-grey
    border-radius: 1em
    overflow: hidden
    text-overflow(clip)

    &:hover
    &:focus
      box-shadow: 0 0 .3em dark-grey
    &:active
      box-shadow: 0 0 .3em light-grey

    h2
      font-size: 1.7rem
      margin-top: .15rem
      margin-bottom: .1rem
      color: dark-grey

    .top-right
      position: absolute
      top: .3rem
      right: .3rem

    img
      width: 100%
      margin: .1rem auto .1em auto

    .checkmark
      display: none

    .module-icon
      background-color: dark-grey
      border-radius: 1rem
      overflow: hidden
      width: 12rem

    &.completed
      border-color: blue
      cursor: pointer
      h2
        color: blue;
      .checkmark
        display: inline-block
      .module-icon
        background-color:  blue

    &.video
      border-color: blue
      cursor: pointer
      h2
      h3
        color: blue;
      .checkmark
        display: inline-block
      .module-icon
        background-color:  blue


/* Unit-index is so that the 'next module' button is put in the upper right */
.unit-index
    position: relative
    .top-right
        position: absolute
        top: .5rem
        right: .5rem
