@require 'flex'
@require 'colours'


div[layout]
    display-flex()
    flex-direction(column)
    flex(1 0 auto)

    div.controls 
        position: relative
        flex(none)

    div.layout 
        min-height: 20rem
        display-flex()
        flex(1 1 0px)
        flex-direction(column)

        div[pane]
            flex(6 1 0px)
            overflow: auto
            border: thick solid blue
            border-radius: 0.75rem

        div.flex-divider 
            flex(none)
            height: 1rem
            cursor: row-resize

    div.tabs
        position: relative;
        left: 1em
        bottom: -.1em
        display: inline-block
        button.toggle
            margin: 0
            position: relative;
            z-index: 100;
            border-left: .1em solid blue;
            border-right: .1em solid blue;
            border-radius: 0
            &:hover
                z-index: 101
        button.toggle:first-child
            border-top-left-radius: 1em;
            border-left: .2em solid blue;
            &:hover
            &:focus
                border-color: light-blue
            &:active
                border-color: dark-blue
        button.toggle:last-child
            border-top-right-radius: 1em;
            border-right: .2em solid blue;
            &:hover
            &:focus
                border-color: light-blue
            &:active
                border-color: dark-blue


div.preview
    display-flex()
    flex-direction(column)

    iframe
        border: none;
        box-sizing: border-box
        width: 100%
        flex(1 1 0px)
