@require 'colours'
@require 'flex'

.progress-nav
  order: 0
  background: white
  border-radius: 1rem
  height: 1rem
  flex(none)
  display-flex()
  flex-flow(row nowrap)
  justify-content(center)
  align-items(center)
  margin:0
  padding: 1rem
  box-shadow: .2rem .2rem .5rem #555

  .prev-step
      margin-right: auto;
      order(0)
  .next-step
      margin-left: auto;
      order(10)

  button
    margin-left: .2em
    margin-right: .2em

  button.prev-slide
      order(1)
  button.next-slide
      order(3)

  button.dot
    order(2)
    width: 2em
    padding: 0
    background-image: radial-gradient(circle, dark-grey, dark-grey 40%, white 50%, white)
    color: black
    border: solid thick white
    &:hover
    &:focus
      border-color: light-blue
    &:active
      border-color: dark-blue

    &.fail
      background-image: radial-gradient(circle, blue, blue 40%, white 50%, white)
    &.success
      background-image: radial-gradient(circle, green, green 40%, white 50%, white)
    &.active
      border-color: blue

/* These parts are needed to make slides take up full space */
div[uw-slide-show],
uw-slide-show
    flex(1)
    display-flex()
    flex-direction(column)
    
.progress-content
    order: 10
    display-flex()
    flex-direction(row)
    flex(1 0 auto)
    margin-top: 1rem
    margin-bottom: 1rem

    .slide-wrapper
        box-sizing: border-box
        max-width: 100%
        padding:1rem
        display-flex()
        flex-direction(column)
        flex(6 0 0px)
        margin-left: 1rem
        overflow: hidden
        background-color: white
        border-radius:1rem
        box-shadow: .2rem .2rem .5rem #555
        &:first-child
            margin-left: 0
            overflow: visible
            flex-grow(4)


    .instructions
        margin-bottom: 1rem;

/* Styles for exploration/quiz */
.uw-slide
  flex(1)
  padding: 0 1rem;

  li > p
    margin: .5em 0;

  .notes h2
    font-size: 1em
    font-weight: 400
    margin: -.4em 0;
  ul
    margin: .5em 0;
  
  pre
    margin-left: 1rem
    margin-right: 1rem
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    -webkit-column-break-before: avoid;
    page-break-before: avoid;
    break-before: avoid;

    & > code
        display: block;

  img
    max-width: 100%
  
  .notes
    padding: .5rem;
    margin-top: 1em
    border: thick solid blue
    border-radius: 0.75rem
  
    &.hint
      border-color: blue
    &.feedback
      border-color: red

/* Firefox doesn't handle max-width well in two-column mode */
@-moz-document url-prefix() {
  .uwslide img {
    width: 100%;
  }
}

/* exploration-specific styles */
.code-wrapper
  display-flex()
  flex-direction(column)
  justify-content(space-between)

.buttons
  flex(none)
  font-size: 1.2rem
  align-self(left)
  text-align: left
  margin-top: 1rem

.code-input
  flex-grow(1)
  border: thick solid blue
  border-radius: 0.75rem
  overflow: hidden
  font-size: 1rem
  font-family: Courier, monospace
  min-height: 1.2em

.code-output,
.web-console
  overflow: auto
  font-family: Courier, monospace
  font-size: inherit
  margin: .2rem
  padding: .3rem
  width: 100%

.code-output .error-text
  color: light-red


.rounded-box
  flex-grow(1)
  display-flex()
  border: thick solid blue
  border-radius: 0.75rem
  min-height: 2em
  overflow: hidden

.code-wrapper .user-input
    border: solid thin red
    border-radius: .75em

.code-wrapper .user-input:disabled
    border-color: grey




/* Quiz-specific styles */
.uw-question
  display-flex()
  flex-direction(row)
  flex(1 1 auto)
  margin: 0
  padding: 0

  .uw-slide
    padding: 1rem 2rem
    margin-left: 1rem
    background-color: white
    border-radius:1rem
    box-shadow: .2rem .2rem .5rem #555
    img
      width: 100%

  .uw-slide:first-child
    margin-left: 0


/* for the short-form question */
input
  box-sizing: border-box
  height: 3em
  border: thin solid blue
  border-radius: 1.5em
  display: block
  padding: .5em 1.5em
  font:inherit
  // This is for the text input in quizes
  margin-bottom: .5rem

/* These are for the question checks and radio buttons */
ul[combo-list] 
  padding:0
  margin: 0
  list-style: outside none none
  display: inline-block

  li 
    margin-bottom: .5em
    position: relative
    &::before
        display: none
  
    input // XXX These inputs are assumed to be checkbox or radio
      opacity: 0
      position: absolute
      left: 1rem
      margin: 0
    
      & + label 
        box-sizing: border-box
        position: relative
        min-height: 3em
        border: thin solid dark-grey
        border-radius: 1.5em
        display: block
        padding: .5em 1.5em .5em 3.5em
        &:before 
          font-size: 2em
          box-sizing: border-box
          display: block
          border: thin solid dark-grey
          border-radius: 100%
          height: 1.1em
          width: 1.1em
          position: absolute
          left: .125em
          top: .125em
          line-height: 1
          text-align: center
          content: ''

        &:hover 
        &:focus
          border-color: light-blue
          box-shadow: 0 0 .3em dark-blue
          &:before 
            background-image: radial-gradient(circle, light-blue, light-blue 10%, white 40%, white)
            border-color: light-blue
      &:focus + label
        border-color: light-blue
        box-shadow: 0 0 .3em dark-blue
        &:before 
          background-image: radial-gradient(circle, light-blue, light-blue 10%, white 40%, white)
          border-color: light-blue

      &:focus:checked + label
        border-color: light-blue
        background-color: light-blue
      &:active + label
        background-color: light-grey
        border-color: dark-blue
      &:active:checked + label
        background-color: dark-blue

      &:checked + label
        background-color: blue
        color: white
        border-color: blue
        code
            background-color: inherit
        &:before
          background: white
          border-color: light-blue

      &[type=radio]:checked + label
        &:before
          background-image: radial-gradient(circle, blue, blue 40%, white 50%, white)

      &[type=checkbox]
        & + label
          border-radius: .5em 1.5em 1.5em .5em
          &:before
            border-radius: .15em
          &:hover:before
            background-image: none
            color: dark-grey
            padding-top: -2px
            content: '\2713'
        &:checked + label:before
          content: '\2713'
          color: black

/* ordering relations for different slideshow elements*/
div.slide-wrapper div.buttons
    order(10)

div.slide-wrapper div[layout]
    order(0)


/* for code blocks in chrome (because chrome's flex-basis doesn't like flowing <p> elements */
pre
    white-space: pre-wrap;

/* progress-bar styling */
.buttons 
    display-flex()
    button
        flex(none)
        margin-left: .5rem
        &:first-child
            margin-left: 0

    div.progress-bar
        flex(auto)
        margin-left: .5rem
        box-sizing: border-box
        border: thin solid blue
        border-radius: 1rem
        width: 10rem
        height: 2em
        display: inline-block
        overflow: hidden

        .progress-indicator
            height: 100%
            background-color: green

            transition: width .1s ease-in-out;

@media (max-width: 50rem) 
  .progress-content
      flex-direction(column)
      .slide-wrapper
        flex(6 0 auto)
        margin: 1rem 0 0;
        &:first-child
          margin-top: 0
  .uw-question
      flex-direction(column)
      .uw-slide
          margin: 1rem 0 0;
          &:first-child
            margin: 0;

/* for the pop-out button */
div.slide-wrapper .preview
    position: relative;

    button.popout
        color: #048;
        cursor: pointer
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 2em;
        background: none;
        border: none;
        border-radius: 0;
        padding: .4rem .1rem
        height: 2rem
        width: 2rem
        

        .popout-square
            border-style: double;
            display: block;
            width: 1.5rem;
            height: 1.5rem;
            line-height: 0;
            box-sizing: border-box;
            border-radius: .4rem;
            padding-left: .05em;
            text-shadow: 2px 2px 0px white, -2px -2px 0px white;
            &::before
                content: "\2924"


        &:hover 
        &:focus
            box-shadow: 0 0 0.3em rgba(0, 47, 99, 0.5);
            background-color: rgba(0, 47, 99, 0.2);
            .popout-square
                border-style: solid
                text-shadow: 2px 2px 0px rgb(204, 213, 224), -2px -2px 0px rgb(204, 213, 224)


/* web-console formatting */
span
    &.wc-type
        color: blue
    &.wc-string
        color: orange
        &:before
            content: '"'
        &:after
            content: '"'
    &.wc-number
        color: dark-green
    &.wc-key
        color: purple

    &.wc-block
        display: none
