/* Two-column styles for the slides app
 * XXX Introduces too many display bugs, because of browser incompatibilities
 */
@media (min-width: 60rem) 
    div[uw-slide] .uw-slide > div
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        column-width: 30rem;

    pre, p
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;

    p
        -webkit-column-break-before: avoid;
        page-break-before: avoid;
        break-before: avoid;

    hr
        visibility: hidden;
        -webkit-column-break-after: always;
        page-break-after: always;
        break-after: always;

