/* Styles for the unit selector */
@require 'colours'
@require 'flex'


text-overflow(args)
    -ms-text-overflow: args
    -o-text-overflow: args
    text-overflow: args

.unit-selector
  display-flex()
  flex-flow(column)
  justify-content(start)

  a.unit
    box-sizing: content-box
    display:block
    text-decoration: none
    color: inherit
    position: relative
    flex(none)
    margin: .25rem
    padding: 0
    border: thick solid dark-grey
    border-radius: 1em
    overflow: hidden
    text-overflow(clip)
    min-height: 6rem;

    &:hover
    &:focus
      box-shadow: 0 0 .3em dark-grey
    &:active
      box-shadow: 0 0 .3em light-grey

    .unit-title
      font-size: 1.2rem
      margin: .5rem
      margin-left: 7rem
      color: dark-grey
      h2
          margin: 0;

    .top-right
      position: absolute
      top: 1rem
      right: .3rem

    .checkmark
      display: none
      font-size: 3rem

    .unit-icon
      position: absolute
      margin: .5rem;
      background-color: dark-grey
      border-radius: 1rem
      overflow: hidden
      height: 5rem
      width: rem
      text-align: center

      img
        height: 100%

    &.completed
      border-color: blue
      cursor: pointer
      .unit-title
          margin-right: 5.5rem
      h2
      h3
        color: blue;
      .checkmark
        display: inline-block
      .unit-icon
        background-color:  blue

    &.video
      border-color: blue
      cursor: pointer
      h2
      h3
        color: blue;
      .checkmark
        display: inline-block
      .unit-icon
        background-color:  blue


@media (min-width: 80rem) 
    .unit-selector
        flex-flow(row wrap)

        a.unit
            width: 48%
